:root {
  --font-color-black: #03324d;
  --font-color-white: #eeefff;
  --bg-grad: linear-gradient(to bottom, #e8f6ff, #9cd6ff);
  --bg-countdown: #5095eb;
  --light-blue: #e0f0ff;
  --progress-bar-bg: #ff4d6d;
  --progress-bar-hover: #ee3c5c;
  --info-bg-grad: linear-gradient(to bottom, #eeeeee, #f2f2f2);
  --card-border: #cfcfcf;

  --radius-classic: 10px;
  --radius-bar: 4px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0;
  color: var(--font-color-white);
  background: var(--bg-grad);
  min-height: 100vh;
}

h1 {
  color: var(--font-color-black);
}

h2 {
  color: var(--font-color-white);
}

.card {
  margin: 15px;
  max-width: 900px;
  padding: 20px;
  width: 85%;
  border: none;
}


.countdown-container {
  background-color: var(--bg-countdown);
  border-radius: var(--radius-classic) var(--radius-classic) 0 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 10, 100, 0.5);
}

hr {
  border: none;
  border-top: 2px solid #cccccc;
  margin: 1px;
  width: 60%;
}

.school-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: var(--radius-classic);
  flex-wrap: wrap;
}

.timebox {
  padding: 5px 30px;
  margin: 10px;
  background-color: var(--light-blue);
  border-radius: var(--radius-classic);
  color: var(--font-color-black);
  flex: 1 1 0;
  min-width: 0;
  box-shadow: 0 0 20px rgba(50, 50, 150, 0.3);
}

.timelabel {
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 18px;
  color: var(--font-color-white);
}

.timeunit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.day-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  background: var(--info-bg-grad);
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.5);
  color: var(--font-color-black);
  border-radius: 0 0 var(--radius-classic) var(--radius-classic);
}

.day-card {
  border: none;
  padding: 10px;
  border-radius: var(--radius-classic);
  text-align: center;
}


.day-info hr {
  width: 100%;
  margin: 10px auto;
}

.status-text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.progress-bar {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color-black);
  background : var(--light-blue);
  box-shadow: 0 0 20px rgba(0, 10, 100, 0.5);
}

.bar {
  height: 20px;
  width: 100%;
  border-radius: var(--radius-bar);
  background: transparent;
}

.progress {
  height: 100%;
  width: 50%;
  border-radius: var(--radius-bar) 0 0 var(--radius-bar);
  background-color: var(--progress-bar-bg);
}

.progress:hover {
  transform: scaleY(1.05);
  background-color: var(--progress-bar-hover);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-content {
  font-size: 14px;
  font-style: italic;
}

.menu {
  width: 100%;
  height: 50%;
  padding: 15px;
  font-size: 26px;
}

.settings {
  float: left;
}

.github-icon {
  float: right;
}

footer {
  padding: 20px;
  opacity: 0.75;
  color: var(--font-color-black);
  font-style: italic;
  font-size: 12px;
}
  

@media (max-width: 1120px) {
  .timelabel, .timebox {
    margin-left: 5px;
    margin-right: 5px;
  }

  .timebox {
    padding-left: 20px;
    padding-right: 20px;
  }

}


