:root {
  --font-color-black: #03324d;
  --font-color-white: #eeefff;
  --bg-grad: linear-gradient(to bottom, #e8f6ff, #9cd6ff);
  --bg-countdown: #5095eb;
  --light-blue: #e0f0ff;
  --info-bg-grad: linear-gradient(to bottom, #eeeeee, #f2f2f2);

  --radius-classic: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0;
  color: var(--font-color-white);
  background: var(--bg-grad);
  min-height: 100vh;
}

h1 {
  color: var(--font-color-black);
}

h2 {
  color: var(--font-color-white);
}

.card {
  margin: 15px;
  max-width: 900px;
  padding: 20px;
  width: 85%;
  border: none;
  border-radius: var(--radius-classic);
}


.countdown-container {
  background-color: var(--bg-countdown);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 10, 100, 0.5);
}

hr {
  border: none;
  border-top: 2px solid #cccccc;
  margin: 1px;
  width: 60%;
}

.school-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: var(--radius-classic);
  flex-wrap: wrap;
}

.timebox {
  padding: 5px 30px;
  margin: 10px;
  background-color: var(--light-blue);
  border-radius: var(--radius-classic);
  color: var(--font-color-black);
  flex: 1 1 0;
  min-width: 0;
  box-shadow: 0 0 20px rgba(50, 50, 150, 0.3);
}

.timelabel {
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 18px;
  color: var(--font-color-white);
}

.timeunit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.day-info {
  background: var(--info-bg-grad);
  height: 500px;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.5);
  color: var(--font-color-black);
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background : var(--light-blue);
  box-shadow: 0 0 20px rgba(0, 10, 100, 0.5);
}

.bar {
  height: 20px;
  width: 50%;
  border-radius: var(--radius-classic);
  background-color: var(--font-color-black);
}

footer {
  padding: 20px;
  opacity: 0.75;
  color: var(--font-color-black);
  font-style: italic;
  font-size: 12px;
}
  

@media (max-width: 1120px) {
  .timelabel, .timebox {
    margin-left: 5px;
    margin-right: 5px;
  }

  .timebox {
    padding-left: 20px;
    padding-right: 20px;
  }

}


