@media (max-width: 1120px) {
  .timelabel,
  .timebox {
    margin-left: 5px;
    margin-right: 5px;
  }

  .timebox {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 820px) {
  .timelabel,
  .timebox {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
  }

  .timebox {
    flex: 1;
  }

  .daytitle {
    display: block;
  }
}

@media (max-width: 550px) {
  .menu {
    position: relative;
  }

  .school-time,
  .total-time {
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .timelabel,
  .timebox {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
  }

  .abs-time {
    min-width: 0;
  }

  .abs-time > .times {
    min-width: 0;
    flex: 1;
  }

  .abs-time > .times > .timebox {
    display: block;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timebox {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
  }
}

@media (max-width: 450px) {
  .sub-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: 10px;
    max-width: 300px;
  }
}
